<div>
  <app-breadcrumb></app-breadcrumb>
  <div class="relative mt-10">
    <h2
      class="my-4 text-xl font-medium top-[-40px] left-6 bg-[#e4e3e3] rounded-md inline-block py-2 px-4 absolute"
    >
      Edit Your Cheat Sheet
    </h2>
    <form
      (submit)="onSubmit(csForm)"
      class="max-w-2xl bg-[#f5f5f5] px-8 py-4 pt-10"
      #csForm="ngForm"
    >
      <div class="relative z-0 w-full mb-5 group">
        <div class="mb-6">
          <label
            for="name"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Cheat Sheet Name</label
          >
          <input
            type="text"
            name="name"
            [(ngModel)]="cheatsheet.name"
            class="w-[70%] py-1 px-2 border border-[#e6e6e6]"
          />
        </div>
        <div class="mb-6">
          <label
            for="description"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Description</label
          >
          <input
            type="text"
            name="description"
            [(ngModel)]="cheatsheet.description"
            class="w-[70%] py-1 px-2 border border-[#e6e6e6]"
          />
        </div>
        <div class="mb-6">
          <label
            for="color"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Color</label
          >
          <input
            type="color"
            name="color"
            [(ngModel)]="cheatsheet.color"
            class="w-[70%] px-1 border border-[#e6e6e6]"
          />
        </div>
        <div class="mb-6">
          <label
            for="style"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Style</label
          >
          <input
            type="text"
            name="style"
            [(ngModel)]="cheatsheet.style"
            class="w-[70%] py-1 px-2 border border-[#e6e6e6]"
          />
        </div>
        <div class="mb-6">
          <label
            for="layout"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Layout</label
          >
          <select
            id="layout"
            name="layout"
            [(ngModel)]="cheatsheet.layout"
            class="bg-gray-50 border border-[#e6e6e6] text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 w-[70%] p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option [value]="1">1 Column</option>
            <option [value]="2">2 Columns</option>
            <option [value]="3">3 Columns</option>
            <option [value]="4">4 Columns</option>
          </select>
        </div>
        <div class="mb-6">
          <label
            for="type"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Type</label
          >
          <input
            type="text"
            name="type"
            [(ngModel)]="cheatsheet.type"
            class="w-[70%] py-1 px-2 border border-[#e6e6e6]"
          />
        </div>
        <div class="mb-6">
          <label
            for="language"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Language</label
          >
          <input
            type="text"
            name="language"
            [(ngModel)]="cheatsheet.language"
            class="w-[70%] py-1 px-2 border border-[#e6e6e6]"
          />
        </div>
        <div class="mb-6">
          <label
            for="section"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Section</label
          >
          <select
            id="section"
            name="section"
            (ngModel)="(cheatsheet.sectionId)"
            (change)="onSectionChange($event)"
            class="bg-gray-50 border border-[#e6e6e6] text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 w-[70%] p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option disabled>Please select a section</option>
            <option
              [selected]="section.id === cheatsheet.sectionId"
              *ngFor="let section of sections; trackBy: trackBySectionId"
              [value]="section.id"
            >
              {{ section.name }}
            </option>
          </select>
        </div>
        <div class="mb-6">
          <label
            for="tag"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Tag</label
          >
          <input
            type="text"
            name="tag"
            [(ngModel)]="cheatsheet.tag"
            class="w-[70%] py-1 px-2 border border-[#e6e6e6]"
          />
        </div>
        <div class="my-8 flex">
          <label
            for="tag"
            class="text-sm text-gray-500 dark:text-gray-400 inline-block min-w-[25%]"
            >Block</label
          >
          <div
            class="flex items-center gap-1 cursor-pointer"
            data-modal-target="add-block"
            data-modal-toggle="add-block"
            type="button"
          >
            <ng-icon name="heroPlus" />
            <span class="text-sm text-gray-500 dark:text-gray-400"
              >Add New Block Here</span
            >
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </div>
    </form>
    <div class="flex mt-8 flex-wrap gap-4">
      <table
        *ngFor="let block of cheatsheet.blocks"
        [ngStyle]="{
          width:
            cheatsheet.layout == '1'
              ? 'calc(100% - 16px)'
              : cheatsheet.layout == '2'
              ? 'calc(50% - 16px)'
              : cheatsheet.layout == '3'
              ? 'calc(33.3% - 16px)'
              : 'calc(25% - 16px)'
        }"
      >
        <div class="flex justify-between items-center">
          <h4
            class="font-bold text-lg p-1 mb-2"
            [ngStyle]="{ color: cheatsheet.color }"
          >
            {{ block.title }}
          </h4>
          <div
            data-modal-target="edit-block"
            data-modal-toggle="edit-block"
            type="button"
            class="cursor-pointer"
            (click)="selectBlock(block.id)"
          >
            <ng-icon name="featherEdit" />
          </div>
        </div>
        <div class="tb-block p-1 px-[6px]">
          <tr
            *ngFor="let content of block.content; let i = index"
            [ngStyle]="{
              'background-color':
                i % 2 === 0
                  ? ''
                  : hexToRgba(
                      cheatsheet.color == null ? '#000000' : cheatsheet.color,
                      0.2
                    )
            }"
            class="flex py-2"
          >
            <td class="px-2 flex-1" *ngFor="let c of content; let j = index">
              {{ c }}
            </td>
          </tr>
        </div>
      </table>
    </div>
  </div>
</div>
<app-add-block-modal [modalSize]="modalSize"></app-add-block-modal>
<app-edit-block-modal [modalSize]="modalSize" [blockId]="selectedBlockId" [blocks]="blocks" (blockUpdated)="onBlockUpdated()"></app-edit-block-modal>
