<div class="my-6">
  <h5 class="text-2xl font-semibold mb-4">
    Over 6,000 Free Cheat Sheets, Revision Aids and Quick References!
  </h5>
  <hr />
  <div class="flex gap-[20px] flex-wrap mt-8">
    <div
      *ngFor="let section of sections"
      style="width: calc((100% / 6) - 20px)"
      class="bg-[#e4e4e4] rounded-xl flex items-center justify-center py-10 border-[#c7c7c7] border"
    >
      <div class="inline-flex flex-col items-center">
        <ng-icon name="heroCodeBracket" class="mb-2 text-xl"></ng-icon>
        <p>{{ section.name }}</p>
      </div>
    </div>
  </div>
</div>
