<div class="my-6">
  <h5 class="text-2xl font-semibold mb-4">
    Over 6,000 Free Cheat Sheets, Revision Aids and Quick References!
  </h5>
  <hr />
  <div class="flex gap-[20px] flex-wrap mt-8">
    <div
      *ngFor="let section of sections"
      class="bg-[#e4e4e4] lg:section-lg 2xl:section-xl rounded-xl flex items-center justify-center py-10 border-[#c7c7c7] border"
      [ngStyle]="{ width: divWidth }"
    >
      <div class="inline-flex flex-col items-center">
        <ng-icon name="{{ section.icon }}" class="mb-2 text-2xl"></ng-icon>
        <p>{{ section.name }}</p>
      </div>
    </div>
  </div>
</div>
