<div>
  <div class="relative mt-10">
    <h2
      class="my-4 text-xl font-medium top-[-40px] left-6 bg-[#e4e3e3] rounded-md inline-block py-2 px-4 absolute"
    >
      Register to Cheatography
    </h2>
    <form
      #registerForm="ngForm"
      (ngSubmit)="onSubmit(registerForm)"
      novalidate
      class="max-w-2xl bg-[#f5f5f5] px-8 py-4 pt-10"
    >
      <div class="mb-5">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Enter your email</label
        >
        <input
          type="email"
          id="email"
          [(ngModel)]="user.email"
          name="email"
          email
          #emailInput="ngModel"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
        <div *ngIf="emailInput.invalid && emailInput.touched">
          <small *ngIf="emailInput.errors?.['required']"
            >Email is required</small
          >
          <small *ngIf="emailInput.errors?.['email']"
            >Invalid email format</small
          >
        </div>
      </div>
      <div class="mb-5">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Enter your display name</label
        >
        <input
          type="text"
          id="name"
          [(ngModel)]="user.name"
          name="name"
          #nameInput="ngModel"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
        <div *ngIf="nameInput.invalid && nameInput.touched">
          <small *ngIf="nameInput.errors?.['required']">Name is required</small>
        </div>
      </div>
      <div class="mb-5">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Enter your password</label
        >
        <input
          type="password"
          id="password"
          [(ngModel)]="user.password"
          name="password"
          required
          minlength="6"
          maxlength="20"
          #passwordInput="ngModel"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched">
          <small *ngIf="passwordInput.errors?.['required']"
            >Password is required</small
          >
          <small *ngIf="passwordInput.errors?.['minlength']"
            >Password must be at least 6 characters</small
          >
          <small *ngIf="passwordInput.errors?.['maxlength']"
            >Password mustn't more than 20 characters</small
          >
        </div>
      </div>
      <div class="mb-5">
        <label
          for="cpassword"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Confirm your password</label
        >
        <input
          type="password"
          id="cpassword"
          [(ngModel)]="user.cpassword"
          name="cpassword"
          required
          minlength="6"
          maxlength="20"
          #cpasswordInput="ngModel"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <div
          *ngIf="
            !passwordMatch() && (cpasswordInput.touched || cpasswordInput.dirty)
          "
        >
          <small>Passwords do not match</small>
        </div>
      </div>
      <div class="mb-5">
        <label
          for="description"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Enter description</label
        >
        <input
          type="text"
          id="description"
          [(ngModel)]="user.description"
          name="description"
          #descriptionInput="ngModel"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="mb-5">
        <label
          for="website"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Enter your website
          <span class="font-normal"
            >(You can add your personal website after two weeks of member)</span
          ></label
        >
        <input
          type="text"
          id="website"
          [(ngModel)]="user.website"
          name="website"
          disabled
          #websiteInput="ngModel"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="flex justify-center">
        <button
          type="submit"
          class="text-white disabled:bg-slate-400 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          [disabled]="registerForm.invalid"
        >
          Register
        </button>
      </div>
      <p class="text-sm text-gray-700 dark:text-gray-400 my-3">
        Already have an account yet?
        <a
          routerLink="/login"
          class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >Log in</a
        >
      </p>
    </form>
  </div>
</div>
