<div>
  <div class="border-b-[3px] border-[#41a0ff] bg-[#EEEEEE] px-3 py-3">
    <h5 class="text-[#3077be] font-semibold">Latest Cheat Sheets</h5>
  </div>

  <div class="bg-[#adadad] px-3 py-3 my-4 rounded-md flex gap-2">
    <img src="assets/Capture2.PNG" class="w-[30%]" />
    <div class="bg-[#6e6e6e] text-[#FFFF] p-3 w-full mx-1">
      <div class="h-[50%]">
        <h4 class="font-semibold text-xl mb-2">WebDevs OMZ Plugins</h4>
        <h6 class="mb-2 font-medium">Cheat Sheet</h6>
        <p class="text-sm mb-2">Shortcut for docker and git</p>
      </div>
      <div class="h-[50%]">
        <p class="text-sm mb-3">Author Name</p>
        <div class="flex items-center gap-2 mb-3">
          <ng-icon name="ionCalendarOutline" /><span class="text-sm"
            >3 Sept 24</span
          >
        </div>
        <div class="flex items-center gap-2">
          <ng-icon name="ionPricetagSharp" />
          <div class="text-sm flex gap-2">
            <span>git</span>
            <span>docker</span>
            <span>docker-compose</span>
            <span>devops</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-[#adadad] px-3 py-3 my-4 rounded-md flex gap-2">
    <img src="assets/Capture2.PNG" class="w-[30%]" />
    <div class="bg-[#6e6e6e] text-[#FFFF] p-3 w-full mx-1">
      <div class="h-[50%]">
        <h4 class="font-semibold text-xl mb-2">WebDevs OMZ Plugins</h4>
        <h6 class="mb-2 font-medium">Cheatsheet</h6>
        <p class="text-sm mb-2">Shortcut for docker and git</p>
      </div>
      <div class="h-[50%]">
        <p class="text-sm mb-3">Author Name</p>
        <div class="flex items-center gap-2 mb-3">
          <ng-icon name="ionCalendarOutline" /><span class="text-sm"
            >3 Sept 24</span
          >
        </div>
        <div class="flex items-center gap-2">
          <ng-icon name="ionPricetagSharp" />
          <div class="text-sm flex gap-2">
            <span>git</span>
            <span>docker</span>
            <span>docker-compose</span>
            <span>devops</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#adadad] px-3 py-3 my-4 rounded-md flex gap-2">
    <img src="assets/Capture2.PNG" class="w-[30%]" />
    <div class="bg-[#6e6e6e] text-[#FFFF] p-3 w-full mx-1">
      <div class="h-[50%]">
        <h4 class="font-semibold text-xl mb-2">WebDevs OMZ Plugins</h4>
        <h6 class="mb-2 font-medium">Cheatsheet</h6>
        <p class="text-sm mb-2">Shortcut for docker and git</p>
      </div>
      <div class="h-[50%]">
        <p class="text-sm mb-3">Author Name</p>
        <div class="flex items-center gap-2 mb-3">
          <ng-icon name="ionCalendarOutline" /><span class="text-sm"
            >3 Sept 24</span
          >
        </div>
        <div class="flex items-center gap-2">
          <ng-icon name="ionPricetagSharp" />
          <div class="text-sm flex gap-2">
            <span>git</span>
            <span>docker</span>
            <span>docker-compose</span>
            <span>devops</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
