<app-inner-wrap>
  <div class="flex justify-between py-5 items-center">
    <a>
      <h1 class="text-2xl font-bold">
        Cheato<span class="text-[#41a0ff]">graphy</span>
      </h1>
    </a>
    <div class="flex items-center gap-1">
      <ng-icon name="heroMagnifyingGlass" class="text-xl"></ng-icon>
      <input
        type="text"
        pInputText
        [(ngModel)]="value"
        placeholder="Search for cheatsheet"
        class="outline-none ring-0 focus:outline-none focus:ring-0 border-none bg-transparent p-0"
      />
    </div>
    <nav>
      <ul class="flex gap-6 items-center font-medium">
        <li>
          <a
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a routerLink="cheatsheets" routerLinkActive="active-link"
            >Cheat Sheets</a
          >
        </li>
        <li *ngIf="isLogin">
          <a routerLink="create" routerLinkActive="active-link">Create</a>
        </li>
        <li><a href="">Community</a></li>
        <li><a href="">Help</a></li>
        <li *ngIf="!isLogin">
          <a routerLink="login" routerLinkActive="active-link">Login</a>
        </li>
        <li *ngIf="isLogin">
          <button
            id="dropdownDefaultButton"
            (click)="toggleDropdown()"
            class="py-2.5 text-center inline-flex items-center"
            type="button"
          >
            {{ user?.name || "My Account" }}
            <svg
              class="w-2.5 h-2.5 ms-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div
            *ngIf="isDropdownVisible"
            id="dropdown"
            class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 absolute"
          >
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
              <li>
                <a
                  routerLink="/profile/{{ user?.id }}"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >My Profile</a
                >
              </li>
              <li>
                <a
                  (click)="logout()"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
                  >Sign out</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</app-inner-wrap>
