<div class="bottom-0 relative w-full mt-10">
  <app-inner-wrap>
    <hr>
    <div class="my-8 flex justify-between list-none font-medium text-[#666666]">
      <div class=" flex">
        <li class=" border-r-2 pr-4">© 2011 - 2024 Cheatography.com</li>
        <li class=" border-r-2 px-4">CC License</li>
        <li class=" border-r-2 px-4">Terms</li>
        <li class=" px-4">Privacy</li>
      </div>
      <div>
        <li>Latest Cheat Sheets RSS Feed</li>
      </div>
    </div>
  </app-inner-wrap>
</div>
